app/.venv/
app/__pycache__/
app/**/__pycache__/
*.pyc
.DS_Store
*.mergebak
*.orig

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/build/
terraform/*.tfplan

/tmp/allergen_local_db.json
/tmp/allergen_uploads/


build/layer/
build/**/.hypothesis/
build/**/.pytest_cache/
build/**/__pycache__/
